<?xml version="1.0"?>
<config>
    <modules>
        <Inchoo_Tickets>
            <version>0.2.1</version>
        </Inchoo_Tickets>
    </modules>

    <global>
        <!-- Module setup -->
        <resources>
            <inchoo_tickets_setup>
                <setup>
                    <module>Inchoo_Tickets</module>
                    <class>Inchoo_Tickets_Model_Resource_Setup</class>
                </setup>
            </inchoo_tickets_setup>
        </resources>

        <!-- Models and collection -->
        <models>
            <tickets>
                <class>Inchoo_Tickets_Model</class>
                <resourceModel>tickets_resource</resourceModel>
            </tickets>
            <tickets_resource>
                <class>Inchoo_Tickets_Model_Resource</class>
                <entities>
                    <thread>
                        <table>inchoo_tickets_thread</table>
                    </thread>
                    <post>
                        <table>inchoo_tickets_post</table>
                    </post>
                </entities>
            </tickets_resource>
        </models>

        <!-- Helper -->
        <helpers>
            <inchoo_tickets>
                <class>Inchoo_Tickets_Helper</class>
            </inchoo_tickets>
        </helpers>

        <!-- Admin block -->
        <blocks>
            <inchoo_tickets>
                <class>Inchoo_Tickets_Block</class>
            </inchoo_tickets>
        </blocks>

        <!-- Email templates -->
        <template>
            <email>
                <inchoo_tickets_customer_notifications_notify_email_template_customer translate="label" module="inchoo_tickets">
                    <label>Support tickets - Customer notifications</label>
                    <file>inchoo_tickets_customer.html</file>
                    <type>html</type>
                </inchoo_tickets_customer_notifications_notify_email_template_customer>
                <inchoo_tickets_admin_notifications_notify_email_template_admin_respond translate="label" module="inchoo_tickets">
                    <label>Support tickets - Admin notification on new ticket</label>
                    <file>inchoo_tickets_admin_new.html</file>
                    <type>html</type>
                </inchoo_tickets_admin_notifications_notify_email_template_admin_respond>
                <inchoo_tickets_admin_notifications_notify_email_template_admin_new translate="label" module="inchoo_tickets">
                    <label>Support tickets - Admin notification on customer respond</label>
                    <file>inchoo_tickets_admin_respond.html</file>
                    <type>html</type>
                </inchoo_tickets_admin_notifications_notify_email_template_admin_new>
            </email>
        </template>
    </global>

    <frontend>
        <!-- Layout config -->
        <layout>
            <updates>
                <inchoo_tickets>
                    <file>inchoo_tickets.xml</file>
                </inchoo_tickets>
            </updates>
        </layout>

        <!-- Router to Tickets controller -->
        <routers>
            <support>
                <use>standard</use>
                <args>
                    <module>Inchoo_Tickets</module>
                    <frontName>support</frontName>
                </args>
            </support>
        </routers>
    </frontend>

    <admin>
        <!-- Admin router -->
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Inchoo_Tickets before="Mage_Adminhtml">Inchoo_Tickets_Adminhtml</Inchoo_Tickets>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <!-- default config values -->
    <default>
        <!-- Used before value(config) is saved from admin -->
        <inchoo_tickets>
            <customer_notifications>
                <notify_new_response>1</notify_new_response>
                <notify_admin_email>-</notify_admin_email>
                <notify_email_template_customer>inchoo_tickets_customer_notifications_notify_email_template_customer</notify_email_template_customer>
            </customer_notifications>
            <admin_notifications>
                <noitfy_new_ticket>1</noitfy_new_ticket>
                <notify_email_template_admin_new>inchoo_tickets_admin_notifications_notify_email_template_admin_new</notify_email_template_admin_new>
                <notify_admin_response>1</notify_admin_response>
                <notify_email_template_admin_respond>inchoo_tickets_admin_notifications_notify_email_template_admin_respond</notify_email_template_admin_respond>
            </admin_notifications>
        </inchoo_tickets>
    </default>
</config>