<?xml version="1.0"?>
<config>
    <sections>
        <!-- Insert new tab in admin panel -->
        <incho_tickets module="incho_tickets">
            <label>Support tickets</label>
            <tab>inchoo_tickets</tab>
            <show_in_default>1</show_in_default>
        </incho_tickets>
    </sections>
</config>