<?xml version="1.0"?>
<config>
    <sections>
        <!-- Insert new tab in admin panel -->
        <inchoo_tickets module="inchoo_tickets">
            <label>Support tickets</label>
            <tab>inchoo_tickets</tab>
            <show_in_default>1</show_in_default>
        </inchoo_tickets>
    </sections>
</config>